
<PageTitle>Error Page</PageTitle>

@if (m_loading)
{
    <MudProgressCircular class="position-relative start-50 mt-xl-5"
                     Color="Color.Secondary" Size="Size.Large" Indeterminate="true" />
}
else
{
    <h3>Error Page</h3>
}


@code
{
    private bool m_loading = true;

    protected override Task OnParametersSetAsync()
    {
        m_loading = false;
        return base.OnParametersSetAsync();
    }
}
