@using System.Collections.Specialized
@if (Show)
{
    <div class="dialog-container">
        <div class="dialog rounded-1">
            @ChildContent
        </div>
    </div>
}

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Show { get; set; }


}