@using BackendApp.Client.States
@using BackendApp.Shared.Models
@inject NavigationManager m_uriHelper
@inject GenericPageState m_genericPageState

<div>
    <nav class="flex-column">

        @foreach (string item in this.r_Items)
        {
            <div class="nav-item px-3 mt-2">
                <NavLink class="nav-link" href="@(item!="Home"?item.ToLower():"")" @onclick="onClick">
                    <MudIcon Icon="@r_Icons[r_Items.IndexOf(item)]" Style="margin-right: 10px" /> @item
                </NavLink>
            </div>
            <MudDivider />
        }
    </nav>
</div>

@code {

    [Parameter]
    public EventCallback onClick { get; set; }

    public readonly List<string> r_Items = new() { "Home", "Messages", "Divisions", "Dispatches", "Agents" };

    private readonly List<string> r_Icons = new()
        {
            Icons.Outlined.Home,
            Icons.Outlined.Message,
            Icons.Outlined.Groups,
            Icons.Outlined.Groups,
            Icons.Outlined.Groups
        };

}
